*{
  margin:0;
  padding: 0;
}
body{
  background: #000;
  font-family: sans-serif;
}

header,
section,
.contenido,
.parrafos{
  width: 90%;
  margin: 80px auto;
  max-width: 1000px;
}

header nav{
  background-color:#ca3c25;
  overflow: hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  padding: 20px 30px;
  display:block;
  color:#fff;
  text-decoration: none;
}

header nav ul li a:hover{
  background-color:rgb(84, 241, 109);
}

div.imagenes{
  display: inline-block;
  position: relative;
}
div.imagenes img{
  border: 5px solid gray;
  width: 200px;
  height: 200px;
  margin:10px;
}

input[type="submit"]{
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin-bottom: 0;
  background-color:#ca3c25;
  color:#fff;
  border:none;
  }

input[type="submit"]:hover{
  background-color:rgb(84, 241, 109);
  cursor: pointer;
  padding: 10px;
}

.parrafos{
  width: 100%;
  color:#fff;
}

.parrafos div{
  display: inline-block;
  width:40%;
  height: 300px;
  margin :10px;
}

span{
  position: absolute;
  top: 15px;
  left: 15px;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 2em;
}

div.close{
  display: none;
}
