*{
  margin:0;
  padding: 0;
}
body{
  background: #000;
  font-family: sans-serif;
}

header,
section,
.contenido{
  width: 90%;
  margin: 100px auto;
  max-width: 1000px;
}

header nav{
  background-color:rgb(227, 27, 39);
  overflow: hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  padding: 20px 30px;
  display:block;
  color:#fff;
  text-decoration: none;
}

header nav ul li a:hover{
  background-color:rgb(84, 241, 109);
}
img{
  border: 5px solid gray;
  width: 200px;
  height: 200px;
  margin:10px;
}

input[type="submit"]{
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin-bottom: 0;
  background-color:rgb(227, 27, 39);
  color:#fff;
  border:none;
  }

input[type="submit"]:hover{
  background-color:rgb(84, 241, 109);
  cursor: pointer;
  padding: 10px;
